.badge-success{
  background-color: #2AB27B;
}

.badge-danger{
  background-color: #BF5329;
}

.badge-warning{
  background-color: #CBB956;
}

.badge-info{
  background-color: #8EB4CB;
}

.badge-primary{
  background-color: #8EB4CB;
}
